
nav {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    background-color: black;
}

nav a {
    color: white;
    font-family: sans-serif;
    padding: 0 2rem;
    text-decoration: none;
}

html, body {
    margin: 0;
    padding: 0;
}


.hero {
    font-size: 1.5em;
    padding: 3rem 6rem;
    line-height: 133%;
    background-color: rgba(128,128,128,0.05);
}

article {
    padding: 3rem 6rem;
}


h1, h2, h3 {
    font-family: sans-serif;
}

p, li {
    font-size: 1.25rem;
    font-family: serif;
}

a {
    display: inline-block;
    padding: 0 0.5rem;
}
