
nav {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    background-color: black;
}

nav a {
    color: white;
    font-family: sans-serif;
    padding: 0 2rem;
    text-decoration: none;
}

html, body {
    margin: 0;
    padding: 0;
}
